common --action_env=BAZEL_CXXOPTS=-std=c++20
common --cxxopt='-std=c++20'
common --copt=-fdiagnostics-color=always
common --test_output=errors
common --test_summary=terse
common --enable_bzlmod
common --enable_workspace

# compilation_mode options below are `dbg` (debug symbols) `fastbuild`
# (build as quickly as possible), and `opt` (turn on all optimizations)
# use opt by default for performance evaluations
common -c opt

# prevents changes to PATH from causing a full rebuild
common --incompatible_strict_action_env

build --action_env=CC=clang
build --action_env=CXX=clang++
build --host_action_env=CC=clang
build --host_action_env=CXX=clang++
build --linkopt="-fuse-ld=lld"
